<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <title>Multiroom Chat</title>

    <!-- JQUERY -->
    <script src="js/jquery-2.2.1.js"></script>

    <!-- bootstrap - link cdn -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />

    <!-- style -->
    <link href="css/style.css" rel="stylesheet" />

    <script type="text/javascript">
      $(document).ready(function () {
        $("#show_chat").click(function () {
          $("#conversation").show();
          $("#partneers").hide();
          ocultaNavbar();
        });

        $("#show_partneers").click(function () {
          $("#partneers").show();
          $("#conversation").hide();
          ocultaNavbar();
        });
      });

      function ocultaNavbar() {
        $("#btn_navbar_toggle").attr("class", "navbar-toggle collapsed");
        $("#navbar-collapse-1").attr("class", "navbar-collapse collapse");
        $("#btn_navbar_toggle").attr("aria-expanded", "false");
        $("#navbar-collapse-1").attr("aria-expanded", "false");
      }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#navbar-collapse-1"
            id="btn_navbar_toggle"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Multiroom Chat</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" id="show_chat">Chat</a>
            </li>
            <li>
              <a href="#" id="show_partneers">Partneers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row conversation" id="conversation">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="dialogs"></div>
        <div class="col-md-1"></div>
      </div>

      <div class="row partneers" id="partneers" style="display: none;">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="peoples"></div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="panel-body campo-mensagem">
          <div class="col-md-12">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Message"
                id="message"
              />
              <input type="hidden" value="<%=dataForm.name %>" id="nickName" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="sendMessage">
                  Send
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:3000");
      $("#sendMessage").click(function () {
        socket.emit("msgToServer", {
          name: $("#nickName").val(),
          message: $("#message").val(),
        });
        $("#message").val("");
      });

      socket.on("msgToClient", function (data) {
        var html = "";
        html += '<div class="dialog">';
        html += "<h4>" + data.name + "</h4>";
        html += "<p>" + data.message + "</p></div>";
        $("#dialogs").append(html);

        window.scrollTo(0, document.body.scrollHeight);
      });

      socket.on("partneerToClient", function (data) {
        var html = "";
        html += '<span class="partneer">';
        html += '<img src="images/ico_usuario.png">';
        html += data.name + "</span>";
        $("#peoples").append(html);
      });
    </script>
  </body>
</html>
